h1 {
  color: red;
  text-align: center;
  font-size: 60px;
  font-family: 
    "Alumni Sans SC", sans-serif;
}

h2 {
  font-style: italic;
  font-size: 40px;
}


p {
  font-family:  "Winky Rough", sans-serif;
  font-size: 30px;
  text-align: center;
}

li {
  font-family:  "Winky Rough", sans-serif;
  font-size: 30px;
  text-align: center;
}
